{% extends 'base.html' %}

{% block title %} | User Login {% endblock title %}


{% block content  %}

<section lass="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Login</h2>
            <h3 class="section-subheading text-muted">Please note: Only bona fide members of PML are allowed to login.</h3>
        </div>
        {% include 'partials/_alerts.html' %}
        <form action=""  method= "POST">
        {% csrf_token %}
            <div class="row align-items-stretch mb-5">

        <div class="col-xl-5 col-lg-10 col-md-6 col-sm-10 mx-auto text-center text-white form p-4">
            
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" name="username" placeholder = "Username" class="form-control text-center" required>
                </div>
                
                <div class="form-group">
                    <label for="password2"></label>
                    <input type="password" name="password"  placeholder="Password" class="form-control text-center" required>
                </div>
                <br>
        <input type="submit" value="Login" class="btn btn-secondary btn-block text-warning">
        </form>
        
        <!-- <div class="mx-auto text-white">
            <br>
            <br>
            <small class="text-muted"> Do not have an account yet? </small><span font> <a href=" {% url 'accounts:register' %} ">Click Here</a> <span class='text-muted'>Register</span> </span>
        </div> -->
        </div>
    </section>

{% endblock content  %}