{% extends 'base.html' %}
{% load static %}

{% block content %}

<section lass="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Password Changed</h3> <br><br>
            <h5 class="section-subheading alert-success">Your pasword has been changed successfuly!</h5>
        </div>
        {% include 'partials/_alerts.html' %}
        
         
        <div class="mx-auto text-white">
            <br>
            <br>
           <span class="text-center" style="margin: auto;"> <a href=" {% url 'accounts:login_view' %} ">Click here to login with your new credentials</a> 
        </div>
        </div>
    </section>

{% endblock content %}
