{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section lass="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Change Your Password</h2>
    
        </div>
        {% include 'partials/_alerts.html' %}
        <form action=""  method= "POST">
        {% csrf_token %}
            <div class="row align-items-stretch mb-5">

        <div class="col-xl-5 col-lg-10 col-md-6 col-sm-10 mx-auto text-center text-white form p-4">

                {{form|crispy}}
            
                <br>
        <input type="submit" value="Change Password" class="btn btn-secondary btn-block text-warning">
        </form>
        </div>
    </section>

{% endblock %}