{% extends 'layout.html' %}
{% load humanize %}
{% load static %}

{% block title %}|{{member_account.shortname}} Acc as at
{% for obj in member_account.profile.all %}
{% if forloop.first %}
{{ obj.date|date:'d M Y'}}
{% endif %}
{% endfor %} 
{% endblock title %}


{% block content %}

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Member Account Statement as at 
            <b> 
                {% for obj in member_account.profile.all %}
                {% if forloop.first %}
                    {{ obj.date|date:'d M Y'}}
                {% endif %}
                {% endfor %}
            </b> 
        </h1> 
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'pmlprofile:profiles'%}">Membership</a></li>
            <li class="breadcrumb-item active">{{ member_account.shortname}} Account</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <!-- Main content -->
        {% if user.is_authenticated %} 
        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h4>
                        <div class= "text-center">
                            <img src="{% static 'img/pml-logo1.png' %}" alt="PML Logo" height="80" width="120" >
                        </div>
                        <small class="float-left" style = "text-decoration: underline; 
                            font-style: italic; font-weight: bold"> 
                            Member Ref.: PML1991-{{member_account.id}}{{member_account.user.first_name|slice:1}}{{member_account.middlename|slice:1}}
                        </small>
                        <small class="float-right" style = "text-decoration: underline; 
                            font-style: italic; font-weight: bold">
                            Statement Date: {{today|date:'d F Y'}} 
                        </small>
                    </h4> 
                </div>

            <!-- /.col -->
            </div>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <!-- info row -->
            <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <span style= "font-style:italic; text-decoration: 
                            underline; font-weight: bold; color:rgb(9, 76, 177)"> 
                    Payments due to:
                </span>     
                <address>
                <strong>Progress Men's League</strong><br>
                Private Bag X709<br>
                EKANGALA, 1021 <br>
                Phone: +27 82 736 6495 &nbsp;&nbsp;|&nbsp;&nbsp; Email: <a href="mailto:treasury@progressmensleague.org">treasury@progressmensleague.org </a>               
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <span style= "font-style:italic; text-decoration: underline;
                        font-weight: bold; color:rgb(9, 76, 177)"> 
                    Account Information:
                </span>  
                <address>
                <strong> Mr. {{member_account.user.first_name}}  
                    {% if member_account.middlename == None %} 
                    {% else %} 
                    {{member_account.middlename}}
                    {% endif %}
                    {{member_account.user.last_name}}
                </strong><br>
                {{member_account.address}}<br>
                {{member_account.town_city}}<br>
                Phone: {{member_account.mobile_phone}} &nbsp;&nbsp;&nbsp;|&nbsp;
                Email: <a href="mailto:{{member_account.user.email}}"> {{member_account.user.email}}</a>  
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <span style= "font-style:italic; text-decoration: underline;
                font-weight: bold; color:rgb(9, 76, 177)"> 
                <b>Banking Details</b><br>
            </span>
                <b>Bank: First National Bank </b> <br>
                    Acc No.: 620 242 992 33 <br>
                    Acc Type: Current - Gold Business<br>
                    Branch: Bronkhorstspruit<br>      
            </div>
            <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- <hr style="height:1px;border-width:0;color:gray;background-color:gray"> -->
            <!-- Table row -->
            <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-striped table-bordered">
                <thead>
                <tr class="bg-light" >  
                    <th colspan="2" class="text-center" style="border-left:solid; border-top:solid;">PRIOR BALANCE(B/F)</th>       
                    <th colspan="5" class="text-center" style=" border-right:solid; border-left:solid;border-top:solid">DEBITS</th>
                    <th colspan="3" class="text-center" style="border-right:solid; border-left:solid;border-top:solid">RECEIPTS</th>
                    <th style="border-right:solid; border-left:solid;border-top:solid">OUTSTANDING/SURPLUS</th>
                </tr>
                <tr>
                    <th style="border-left:solid">Transaction Date</th>
                    <th>Balance BF</th>
                    <th style="border-left:solid">Premiums</th>
                    <th>Funeral </th>
                    <th>Transport</th>
                    <th>Fines</th>
                    <th style="border-right:solid">Tot Debits</th>
                    <th>Deposits</th>
                    <th>Adjustments</th>
                    <th style="border-right:solid">Tot Receipts</th>
                    <th style="border-right:solid">Closing Balance</th>
                </tr>
                </thead>
                <tbody>
                {% for acc in member_account.profile.all %}
                <tr>
                    <td style="border-left:solid">{{acc.date|date:'d F Y'}}</td>
                    <td>{{acc.balance_brought_forward}}</td>
                    <td style="border-left:solid">{{acc.premiums}}</td>
                    <td>{{acc.funeral_topup}}</td>
                    <td>{{acc.transport_topup}}</td>
                    <td>{{acc.fines}}</td>
                    <th style="border-right:solid">{{acc.total_debits}}</th>
                    <td>{{acc.cash_deposit}}</td>
                    <td>{{acc.adjustments}}</td>
                    <th style="border-right:solid">{{acc.total_receipts}}</th>
                    <th style="border-right:solid">{{acc.total_outstanding|floatformat:2|intcomma}}</th>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <!-- /.col -->
            </div>
            <!-- /.row -->
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <div class="row">
            <!-- accepted payments column -->
            <div class="col-6">
                <div class="text-muted">       
                    <h6 class="alert alert-light"> <span style="text-decoration: underline">
                                Important Note: </span>
                        &nbsp;&nbsp;&nbsp; 
                        A positive( > 0 ) balance amount means your account is in 
                        <b class="text-danger">arrears </b>. Please remit asap.                  
                    </h6> 
                        
                </div>
            </div>
            <!-- /.col -->
            <div class="col-6">
                <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th colspan="2" class="text-center" style="background-color: rgb(235, 232, 232)">
                            Latest Account Summary: 
                            {% for obj in member_account.profile.all %}
                                {% if forloop.first %}
                                {{ obj.date|date:'M Y'}}
                                {% endif %}
                            {% endfor %} 
                        </th>
                    </thead>
                    <tr>
                    <td style="width:50%">Net Movement</td>
                    <td>
                        <b> 
                            {% for obj in member_account.profile.all %}
                            {% if forloop.first %}
                                R {{ obj.net_movement|floatformat:2|intcomma}}
                            {% endif %}
                            {% endfor %}
                        </b> 

                    </td>
                    </tr>
                    <tr>
                    <td>Outstanding/Surplus</td>
                    <td>
                        <b> 
                            {% for obj in member_account.profile.all %}
                                {% if forloop.first %}
                                    {% if obj.total_outstanding < 0 %}
                                        <span class="text-primary">R {{ obj.total_outstanding|floatformat:2|intcomma}}</span>
                                    
                                    {% elif obj.total_outstanding > 0 and obj.total_outstanding < 500.00 %}
                                        <span class="text-secondary">R {{ obj.total_outstanding|floatformat:2|intcomma}}</span>
                                    {% elif obj.total_outstanding >= 500.00 and obj.total_outstanding < 1000.00 %}
                                        <span style="color:rgb(216, 156, 4)">R {{ obj.total_outstanding|floatformat:2|intcomma}}</span>
                                    {% else %} 
                                        <span class="text-danger">R {{ obj.total_outstanding|floatformat:2|intcomma}}</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </b> 

                    </td>
                    </tr>
                </table>
                
                </div>
            </div>
            <!-- /.col -->
            

            </div>

            <!-- Print pdf -->

            <div class="row no-print">
                <div class="col-12">
                  <a href="{% url 'pmlfin:acc_print' request.user.id %}" rel="noopener" target="_blank" type="button" type="button" class="btn btn-info float-right"><i class="fas fa-print"></i> Print Statement</a>
                  
                </div>
              </div>

            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <!-- /.row -->

            <!-- this row will not appear when printing -->
    
        </div>
        
        {% endif %}
        <!-- /.invoice -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
{% endblock content %}