{% extends 'layout.html' %}
{% load static %}
{% load humanize %} 

{% block content %} 

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Members</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'pmlprofile:profiles' %}">PML Profiles</a></li>
            <li class="breadcrumb-item active">Members</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
    <!-- Default box -->
      <!-- Beneficiary Data Table -->
<section class="content">
<div class="container-fluid">
    <div class="row">
    <div class="col-12">
        <div class="card">
        <div class="card-header">
            <h3 class="card-title">All Member Profiles</h3>
        </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    
                    <th ">
                    Full Name
                    </th>
                    <th ">
                    Birth Date
                    </th>
                    <th >
                    Mobile Phone
                    </th>
                    <th >
                   Status
                    </th> 
                    <th >
                   Status Date
                    </th> 
                    
                    <th  class="project-actions text-right"> 
                        <a class="btn btn-success btn-sm" href="{% url 'pmlprofile:committee_create' %}">
                            <i class="fas fa-plus-circle">
                            </i>
                        <strong> Add Member</strong>
                        </a> 
                    </th>                
                </tr>
            </thead>
            <tbody>
                <tr>
            {% for member in members %}
                    <td>
                        {{ member.user.last_name}}  {{ member.user.first_name }}  
                        {% if member.middlename == None %} 
                        {{ ''}}
                        {% else %}
                        {{ member.middlename}}
                        {% endif %}
                    </td>
                    <td>
                        {{member.birth_date|date:'d M Y'}}
                    </td>
                    <td>
                        {{member.mobile_phone}}
                    </td>

                    <td>
                        {{member.status}}
                    </td>
                    <td>
                    {{ member.status_date|date:'d M Y'}}
                    </td>

                    <td class="project-actions text-right">
                    <ul class="list-inline"> 
                        <a class="btn btn-primary btn-sm" href="">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                        <a class="btn btn-info btn-sm" href="#">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a> 
                    </ul>
                            
                    </td>
                </tr>   
        {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div> -->
            </div>
    <!-- /.card -->
         </div>
    <!-- /.col -->
        </div>
    <!-- /.row -->
   
<!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>

<!-- /.content-wrapper -->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
{% endblock %}
