<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memebrs Location Location</title>

<style type="text/css">
#map { 
    height:600px; 
    width:100%;
}
</style> 

</head>
<body>
    <h3>Mapping Members Locations </h3>
    <div id="map"> </div>    

<script>
function initMap() {
    const ekangala = {lat:-25.683569, lng:28.739950};

    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: ekangala,
    });
    const marker = new google.maps.Marker({
        //position: ekangala,
        map: map,
    });
}

</script>

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhdxKNC7AjvofvPbH7IksFxScfz1v8l5g&callback=initMap">
</script>
</body>
</html>