{% extends 'layout.html' %}
{% load static %}

{% block title %}| Member Locations{% endblock title %}



{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6 text-right">
        <h1>Member Geographic Spread </h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'pmlprofile:profiles' %}">Membership</a></li>
            <li class="breadcrumb-item active">Locations</li>
        </ol>
        </div>
    </div>
</div><!-- /.container-fluid -->
</section>

    <!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-12">

            <div id="map" style="height:850px; width:100%;" > </div>            
            </div>
        </div>
    </div>
</section>

<script>

    function initMap() { 
        var ekangala = {lat:-25.819869,lng: 28.751809};
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 9,
            center: ekangala
        
        });
        
    // Loop through coordinates and member queryset 

    {% for location in qs %}
        addMarker({
            coords:{
            lat:{{location.lat}},
            lng:{{location.lng}}
            },
            content:'<h4> {{location.member}}</h4> {{location.member.address}}',
           /* imageIcon:'http://maps.gstatic.com/mapfiles/ridefinder-images/mm_20_purple.png' */      
        });
    {% endfor %}

    function addMarker(props){
        var marker = new google.maps.Marker({
            position:props.coords,
            map:map,
            icon:props.imageIcon,
        });
    var infoWindow = new google.maps.InfoWindow({
            content:props.content
        });

        marker.addListener('click', function(){
            infoWindow.open(map, marker)
        });
    
    }

}

</script>

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhdxKNC7AjvofvPbH7IksFxScfz1v8l5g&callback=initMap">
</script>
{% endblock content %}

