    {% extends 'layout.html' %}

    {% block title %} | PML Beneficiaries{% endblock title %}

    {% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>PML Beneficiaries (Total: {{beneficiaries.count}}, Active: {{beneficiaries.active_count}}) </h1> 
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Beneficiaries</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
    </section>

    <!-- Beneficiary Data Table -->
<section class="content">
<div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        <h3 class="card-title">Choose format for printing or column display</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>                    
                            <th>Name</th>
                            <th>Beneficiary Type</th>
                            <th>Birth Date</th>
                            <th>Age this Year</th>
                            <th>Status</th>
                            <th>Paid-up</th>
                            <th>Paid-up date</th>
                        </tr>
                        </thead>

                    <tbody>
                    {% for beneficiary in beneficiaries %}

                    {% if beneficiary.beneficiary_status == 'Deceased' %}
                        <tr class="text-danger">
                            <td>{{beneficiary.name}}</td>
                            <td>{{beneficiary.beneficiary_type}}</td>
                            <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                            <td> N/A </td>
                            <td>{{beneficiary.beneficiary_status}}</td>
                            <td>{{beneficiary.is_paid}}</td>
                            <td>{{beneficiary.paid_date}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{beneficiary.name}}</td>
                            <td>{{beneficiary.beneficiary_type}}</td>
                            <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                            <td> {{beneficiary.age}}</td>
                            <td>{{beneficiary.beneficiary_status}}</td>
                            <td>{{beneficiary.is_paid}}</td>
                            <td>{{beneficiary.paid_date}}</td>
                        </tr>    

                    {% endif %}

                        
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                        <<th>Principal ID</th>
                        <th>Name</th>
                        <th>Beneficiary Type</th>
                        <th>Age this Year</th>
                        <th>Status</th>
                        <th>Paid-up</th>
                        <th>Paid-up date</th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>  
                    
    </div>
</div>

</section>
    <!-- /.content -->
</div>
    <!-- /.content-wrapper -->

{% endblock content %}

