    {% extends 'layout.html' %}

    {% block title %} | PML Beneficiaries{% endblock title %}

    {% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1> Total Beneficiaries: &nbsp;&nbsp;{{beneficiaries.count}} </h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Beneficiaries</li>
        </ol>
        </div>
    </div>
    <hr>
<div class="row mt-2 mb-1">
        <div class="col-lg-3 col-6 text-center">
            <!-- small box -->
            <div class="small-box bg-success">
            <div class="inner">
                <h3>{{active}}</h3>

                <h5>Active</h5>
    
            </div>
            <div class="icon">
            <i class="fas fa-user-plus"></i>
            </div>
            
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6 text-center">
            <!-- small box -->
            <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{inactive}}<sup style="font-size: 20px"></sup></h3>

                <h5>Inactive </h5>
            </div>
            <div class="icon">
                <i class="fas fa-user-minus"></i>
            </div>
            
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6 text-center">
            <!-- small box -->
            <div class="small-box" style="background-color: rgb(199, 202, 206);">
            <div class="inner">
                <h3>{{article20}}<sup style="font-size: 20px"></h3>

                <h5>Article 20.3 </h5>
            </div>
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
            
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6 text-center">
            <!-- small box -->
            <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{deceased}}</h3>

                <h5>Deceased </h5>
            </div>
            <div class="icon">
                <i class="fas fa-cross"></i>
            </div>
            
            </div>
            </div>        
        <!-- ./col -->
        </div>

    </div><!-- /.container-fluid -->
    </section>

    <!-- Beneficiary Data Table -->
<section class="content">
<div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <!--card-header -->
                        <div class="card-body"> 
                        <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>    
                            <th>Member ID</th>                
                            <th>Name</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Birth Date</th>
                            <th>Age</th>
                            <th>Paid-up</th>
                            <th>Paid-up date</th>
                        </tr>
                        </thead>

                    <tbody>
                    {% for beneficiary in beneficiaries %}

                    {% if beneficiary.beneficiary_status == 'Deceased' %}
                        <tr> 
                            <td>{{beneficiary.member.id}}</td>
                            <td>{{beneficiary.name}}</td>
                            <td>{{beneficiary.beneficiary_type}}</td>
                            <th> <strong class="btn btn-danger btn-block" disabled="true"> {{beneficiary.beneficiary_status}}</strong></th>
                            <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                            <td> N/A </td>           
                            <td>{% if beneficiary.beneficiary_status%} 
                                <span class="text-danger" >Yes </span> 
                                {% else %} No
                                {% endif %}
                            </td>
                            <th>{{beneficiary.paid_date}}</th>
                        </tr>

                    {% elif beneficiary.beneficiary_status == "Article 20.3" %}
                    <tr>    
                        <td>{{beneficiary.member.id}}</td>
                        <td>{{beneficiary.name}}</td>
                        <td>{{beneficiary.beneficiary_type}}</td>
                        <th > <strong class="btn btn-secondary btn-block" > {{beneficiary.beneficiary_status}}</strong></th>
                        <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                        <td> N/A </td>    
                        <td> No</td>
                        <td>{{beneficiary.paid_date}}</td>
                    </tr>

                    {% elif beneficiary.beneficiary_status == "Inactive" %}
                    <tr>    
                        <td>{{beneficiary.member.id}}</td>
                        <td>{{beneficiary.name}}</td>
                        <td>{{beneficiary.beneficiary_type}}</td>
                        <th> <strong class="btn btn-warning btn-block" disabled>{{beneficiary.beneficiary_status}}</strong></th>
                        <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                        <td> N/A </td>
                        <td>No</td>
                        <td>{{beneficiary.paid_date}}</td>
                    </tr>

                    {% else %}
                        <tr>
                            <td>{{beneficiary.member.id}}</td>
                            <td>{{beneficiary.name}}</td>
                            <td>{{beneficiary.beneficiary_type}}</td>
                            <th> <strong class="btn btn-success btn-block" > {{beneficiary.beneficiary_status}}</strong></th>
                            <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                            <td> {{beneficiary.age}}</td>  
                            <td>{% if not beneficiary.beneficiary_status%}
                                <span class="text-danger" >Yes </span> 
                                {% else %} No
                                {% endif %}
                            </td>
                            <td>{{beneficiary.paid_date}}</td>
                        </tr>    

                    {% endif %}

                        
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                        <th>Member ID</th>                
                        <th>Name</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Birth Date</th>
                        <th>Age</th>
                        <th>Paid-up</th>
                        <th>Paid-up date</th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>  
                    
    </div>
</div>

</section>
    <!-- /.content -->
</div>
    <!-- /.content-wrapper -->

{% endblock content %}

