{% extends 'layout.html' %}

{% load static %}

{% block title %} Membership {% endblock title%}

{% block content %} 

<div class="content-wrapper">     
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Total Membership: &nbsp;&nbsp;{{total}} </h1> 
        
        </div>
        
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">PML Home</a></li>
            <li class="breadcrumb-item active">Membership</li>
        </ol>
        </div>
    </div>
    <hr>

    <div class="row mt-2 mb-1">
        <div class="col-lg-3 col-6 text-center">
            <!-- small box -->
            <div class="small-box bg-success">
            <div class="inner">
                <h3>{{actives}}</h3>

                <h5>Active</h5>
            </div>
            <div class="icon">
            <i class="fas fa-user-plus"></i>
            </div>
            
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6 text-center">
            <!-- small box -->
            <div class="small-box" style="background-color: rgb(191, 194, 197);">
            <div class="inner">
                <h3>{{suspended}}<sup style="font-size: 20px"></sup></h3>

                <h5>Suspended</h5>
            </div>
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
            
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6 text-center">
            <!-- small box -->
            <div class="small-box bg-warning" >
            <div class="inner">
                <h3>{{terminated}}<sup style="font-size: 20"></h3>

                <h5>Terminated</h5>
            </div>
            <div class="icon">
                <i class="fas fa-user-minus"></i>
            </div>
            
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6 text-center">
            <!-- small box -->
            <div class="small-box bg-maroon">
            <div class="inner">
                <h3>{{deceased}}</h3>

                <h5>Deceased</h5>
            </div>
            <div class="icon">
                <i class="fas fa-cross"></i>
            </div>
            
            </div>
            </div>        
        <!-- ./col -->
        </div>


    </div>
    <!--row--><!-- /.container-fluid -->
</section>
{% include 'partials/_alerts.html' %}
 
    <!-- Main content -->
<section class="content">
    <!-- Default box -->
    
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row" >
        {% for profile in profiles %}
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                {% if  profile.status == 'Active' %}
                    <h5>Member ID: {{profile.id}} - in Good Standing</h5> 
                {% elif profile.status == 'Deceased' %}
                    <h5>Rest in Progress - Forever in our Memories</h5>
                {% else %}
                    <h5>Member ID:  {{profile.id}} - {{profile.status}}</h5>
                {% endif %}
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b> <strong> {{profile.shortname}}</strong>  </b></h2>
                        <p class="text-muted text-sm"> 
                            <strong >Membership Status:   </strong>  
                            {% if profile.status == 'Deceased' %} 
                                <strong class="text-danger">{{profile.status}}</strong>
                            {% elif  profile.status == 'Suspended' %} 
                                <strong class="text-secondary">{{profile.status}}</strong>
                            {% elif  profile.status == 'Terminated' %} 
                            <strong class="text-warning">{{profile.status}}</strong>
                            {% else %}
                                <strong class="text-success">{{profile.status}}</strong>  
                            {% endif %}        
                        </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{profile.address|safe}}</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{profile.mobile_phone}}</li>
                        
                        </ul>
                    </div>
                    <div class="col-5 text-center">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                src="{{profile.photo.url}}"
                                alt="Member profile picture">
                        </div>                    
                    </div>
                    </div>
                </div>
                <div class="card-footer" style="background-color: rgb(199, 202, 206);">
                    <div class="text-right">
            
                    <a href="{% url 'pmlprofile:profile_detail' profile.id %}" class="btn btn-md btn-info">
                        <i class="fas fa-user"></i>  View Profile
                    </a>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        
        </div>
        <div class="mx-auto">
        <nav aria-label="Contacts Page Navigation">
            
            
    <div class="row">
        <div class="col-md-12">
            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
                </li>
            
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        </div>

        <!-- ################# -->
        </nav> 
    </div>
    </div>
        <!-- /.card-footer -->
    </div>
        <!-- /.card -->
</section>
    <!-- /.content -->
</div>
<!-- /.Content Wrapper ends -->

{% endblock %}
