{% extends 'layout.html' %}

{% load static %}

{% block content %} 

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Membership List</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Membership</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
        {% for profile in profiles %}
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                {% if  profile.status == 'Active' %}
                   <h5>Member in Good Standing, Age this Year: {{profile.age}}</h5> 
                {% elif profile.status == 'Deceased' %}
                    <span class='text-danger'> <h5>Rest in Progress - Forever in our Memories</h5></span>
                {% else %}
                    <span class='text-warning'> <h5>Member {{profile.status}}, Age this Year: {{profile.age}}</h5></span>
                {% endif %}
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                    <div class="col-7">
                        <h2 class="lead"><b>{{profile.shortname}}</b></h2>
                        <p class="text-muted text-sm"> <span class="text-info"><b>Membership Status:  </b> {{profile.status}}</span>  </p>
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{profile.address}}</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{profile.mobile_phone}}</li>
                        </ul>
                    </div>
                    <div class="col-5 text-center">
                        <img src="{{ profile.photo.url }}" alt="user-avatar" class="img-circle img-fluid">
                    </div>
                    </div>
                </div>
                <div class="card-footer bg-secondary">
                    <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments"></i>
                    </a>
                    <a href="{% url 'pmlprofile:profile_detail' profile.id %}" class="btn btn-sm btn-info">
                        <i class="fas fa-user"></i> View Profile
                    </a>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
            </ul>
            </nav>
        </div>
        <!-- /.card-footer -->
    </div>
        <!-- /.card -->

</section>
    <!-- /.content -->

{% endblock %}
