{% extends 'layout.html' %}
{% load static %}

{% block title %}-{{profile_detail.shortname}} Profile{% endblock title %}
<style>
a.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}
</style>
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 text-right">
            <h1>Member Profile: {{profile_detail.user.last_name}} {{profile_detail.user.first_name}} {{profile_detail.middlename}} </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'pmlprofile:profiles' %}">Membership</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-info bg-light card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{profile_detail.photo.url}}"
                       alt="User profile picture">
                </div>

                <p class="text-muted text-center">Member Status:         
                    {% if profile_detail.status == 'Active' %}
                        <span class="text-info"> {{profile_detail.status}} </span> 
                    {% elif profile_detail.status == 'Deceased' %}
                        <span class="text-danger"> {{profile_detail.status}} </span> 
                    {%elif profile_detail.status == 'Suspended' or profile_detail.status == 'Terminated' %}
                        <span class="text-warning"> {{profile_detail.status}} </span> 
                    {% endif %}
                </p>  
                <p class="text-muted text-center">
                    <ul >
                        <li class="list-group-item" class="text-center"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{profile_detail.mobile_phone}} <br>
                            <a href="mailto:{{profile_detail.user.email}}"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{profile_detail.user.email}}</a>
                        </li>
                    </ul>
                </p>      
                
                

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Date of Birth: <a class="float-right text-secondary">{{profile_detail.birth_date|date:'d M Y'}}</a> </b>
                    </li>
    
                </ul>

                
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-info bg-light">
                <div class="card-header">
                    <h3 class="card-title">Address Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong> {{profile_detail.address|safe}}</strong>
                <hr>
                <strong> {{profile_detail.town_city}} </strong>
                <hr>
                <strong> {{profile_detail.district_metro}}</strong>
                <hr>
                <strong> {{profile_detail.province}}</strong>
                {% if request.user.is_superuser %}
                <hr>
                <a href="{% url 'pmlprofile:membercert' profile_detail.id %}" class="btn btn-primary" target="_blank">Print Certificate</a>
                {% endif %}
              </div>
              <!-- /.card-body -->
            </div> 
            <!-- /.card -->
          </div>
          <!-- /.col -->  
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills ">
                  
                  <li class="nav-item nav-info"><a class="nav-link active" href="#timeline" data-toggle="tab">Beneficiaries</a></li>
                  
                </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                <div class="tab-content">
                
                    
            <div class=" active tab-pane" id="timeline">
                    
                <table class="table table-bordered">
                    <thead>
                  
                        <tr>
                        <th>Name </th>
                        <th>Relation</th>
                        <th>Date of Birth</th>
                        <th style="width: 40px">Status</th>
                        <th>Paid-up</th>
                        <th>Paid-up Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for beneficiary in profile_detail.beneficiaries.all %}
                        {% if beneficiary.beneficiary_status == 'Deceased' %}
                        <tr class="text-muted">     
                        <td>{{beneficiary.name}}</td>
                        <td>{{beneficiary.beneficiary_type}}</td>
                        <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                        <td>
                            <i class="fas fa-circle fa-2x text-red"></i>
                            </div>      
                        </td>
                        <!-- <td><span class="badge bg-danger">{{beneficiary.beneficiary_status}}</span></td> -->
                        <td>{% if beneficiary.is_paid %} Yes
                            {% else %} No
                            {% endif %}
                        </td>
                        <td>{{beneficiary.paid_date|date:'d F, Y'}}</td>                   
                        </tr>
                        <tr>
                        {% elif  beneficiary.beneficiary_status == 'Article 20.3' %}                               
                        <tr class="text-muted">     
                            <td>{{beneficiary.name}}</td>
                            <td>{{beneficiary.beneficiary_type}}</td>
                            <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                            <td>
                              <i class="fas fa-circle fa-2x text-secondary"></i>
                          </td>
                          <!-- <td><span class="badge bg-warning">{{beneficiary.beneficiary_status}}</span></td> -->
                            <td>{% if beneficiary.is_paid %} Yes
                            {% else %} No - Lapse Date: {{profile_detail.lapse_date|date:'d F, Y'}}</td> 
                            {% endif %}
                          </td>
                            <td>
                              <span class="badge bg-warning">
                                (Cover lapses in : {{profile_detail.lapse_date|timeuntil}})
                              </span>
                                                
                          </tr>
                        
                        
                        {% elif beneficiary.beneficiary_status == 'Inactive' %}
                        <tr> 
                          <tr class="text-muted">     
                            <td>{{beneficiary.name}}</td>
                            <td>{{beneficiary.beneficiary_type}}</td>
                            <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                            <td>
                              <i class="fas fa-circle fa-2x text-warning"></i>
                          </td>
                          <!-- <td><span class="badge bg-warning">{{beneficiary.beneficiary_status}}</span></td> -->
                              {% if beneficiary.is_paid %}  <td> Yes </td>
                                <td>{{beneficiary.paid_date|date:'d F, Y'}}</td>     
                              {% else %} 
                            <td>No </td> 
                            <td> Cover lapsed:<span class= "badge bg-warning">  {{profile_detail.lapse_date}}</span> </td>  
                            {% endif %}
                        
                                      
                          </tr>
                        
                        </tr>
                        {% else %}
                        <tr>     
                            <td>{{beneficiary.name}}</td>
                            <td>{{beneficiary.beneficiary_type}}</td>
                            <td>{{beneficiary.birth_date|date:'d - M - Y'}}</td>
                            <td>                                     
                                <i class="fas fa-circle fa-2x text-green"></i>
                                    
                        </div>

                            </td>
                            <!-- <td><span class="badge bg-success">{{beneficiary.beneficiary_status}}</span></td> -->
                            <td>{% if beneficiary.is_paid %} Yes
                                {% else %} No
                                {% endif %}
                              </td>
                                <td>
                                {% if beneficiary.is_paid %}
                                  {{beneficiary.paid_date|date:'d F, Y'}}
                                {% elif beneficiary_status == "Article 20.3" %}
                                  {{profile_detail.lapse_date}}   
                                {% endif %}                            
                              </td>                   
                            </tr>
                        <tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    </table>         

                </div>

                <div class="tab-pane" id="settings" disabled="true">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                    <!-- timeline time label -->
                    
                    <!-- /.timeline-label -->
                    <div class="tab-pane" id="settings">
                    
                    
                        <div class="col-md-12 mx-auto" > 
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.5430564937187!2d28.737803115631802!3d-25.686437883671008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1eeaab94f3f19a2b%3A0xf4b06cc2174fe136!2s4103%20Section%20B%2C%20Ekangala%20B%2C%20Ekangala%2C%201021!5e0!3m2!1sen!2sza!4v1624665851568!5m2!1sen!2sza" 
                            width="950" height="500" style="border:0;" allowfullscreen="" loading="lazy">
                            </iframe>
                           <!-- <iframe src="https://www.google.com/maps/embed?pb={{profile_detail.address}}" width="950" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  -->
                        </div>
                    </div>
          
                </div>
                </div>              
                </div>
                
                </div>
            </div>
        
        </div>
        </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">  
        
            </div>
            <div class="col-sm-12">
            <div class="jumbotron text-center">
                <h3>Legend: Beneficiary Status</h3> 
                <i class="fas fa-circle fa-2x text-green text-small mr-2"></i>Active  &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-circle fa-2x text-red text-small mr-2"></i>Deceased
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-circle fa-2x text-secondary text-small mr-2"></i>Article 20.3
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-circle fa-2x text-warning text-small mr-2"></i>Inactive
            </div>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>

</div>
<!-- /.content-wrapper -->




{% endblock content %}