{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block title %}Profile Update{% endblock title %}

{% block content %}

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Member Profile Update</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'pmlprofile:my_profile' request.user.id %}">My Profile Details </a></li>
                    <li class="breadcrumb-item active">Profile Update {{user.profile.shortname}}</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->




<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
    <!-- left column -->
            <div class="col-md-6">
        <!-- general form elements -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Profile Info to Edit</h3>
                </div>
        <!-- /.card-header -->
        <!-- form start -->
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">


<!-- Form Groups-->

<!--end Form Groups-->

                <div class="row" >
                    <div class="col-12" class="form-horizontal">
                        {{p_form.photo|as_crispy_field}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        {{p_form.shortname|as_crispy_field}}
                    </div>
                    <div class="col-4">
                        {{p_form.middlename|as_crispy_field}}
                    </div>
                    <div class="col-4">
                        {{p_form.birth_date|as_crispy_field}}
                    </div>
                </div>


                <div class="row">
                    <div class="col-4">
                        {{u_form.email|as_crispy_field}}
                    </div>
                    <div class="col-4">
                        {{p_form.mobile_phone|as_crispy_field}}
                    </div>
                    <div class="col-4">
                        {{p_form.alt_phone|as_crispy_field}}
                    </div>               
                </div>
            
                <div class="row">
                    <div class="col-12">
                        {{p_form.address|as_crispy_field|safe}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        {{p_form.town_city|as_crispy_field}}
                    </div>
                    <div class="col-4">
                        {{p_form.district_metro|as_crispy_field}}
                    </div>
                    <div class="col-4">
                        {{p_form.province|as_crispy_field}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{p_form.alt_address|as_crispy_field|safe}}
                    </div>
                </div>

                
                <!-- {{u_form|crispy}}
                {{p_form|crispy}} -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            <button type="submit" class="btn btn-info btn-block">Update</button>
            </div>
        </form>
        </div>
        <!-- /.card -->

        <!-- general form elements -->
        

        <!-- Input addon -->
        
        <!-- Horizontal Form -->
        

    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-6">
        <!-- Form Element sizes -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Please read the important information below</h3>
            </div>
                <div class="card-body">
                    <img src="{{user.profile.photo.url}} " height="250" width="250" class="img-responsive rounded-circle"  class="card-img-top" alt="Member Picture">
                    <br>
                    <br>
                    <br>
                    <h5> Surname: {{user.last_name}} </h5>
                    <br>
                    <h5> Names:  {{user.first_name}} {{user.profile.middlename}}</h5>              
                </div>
                <div class="card-footer">
                    <h4>Residential Address: {{user.profile.address|safe}}</h4>
                </div>
        <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (right) -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->


{% endblock content %}