{% extends 'layout.html' %}
{% load static %}
{% load humanize %} 

{% block content %} 

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>PML Funerals List</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'pmlprofile:profiles' %}">Membership</a></li>
            <li class="breadcrumb-item active">Funerals</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">List of Funerals</h3>

        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
        </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10%">Funeral Date</th>
                    <th style="width: 10%">  Bereaved Member</th>
                    <th style="width: 20%"> Deceased Type</th>
                    <th style="width: 20%">Deceased Name  </th>
                    <th style="width: 25%">Venue</th>     
                    <th style="width: 25%"> Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
            {% for funeral in funerals %}
                    <td>{{ funeral.date|date:'d F Y'}}</td>
                    
                    <td> {{funeral.bereaved_member}}</td>
                    <td> {{funeral.deceased_type}}</td>
                    <td>
                        {% if funeral.deceased_type == "Beneficiary" %}
                            {{funeral.deceased_beneficiary.name}} 
                        {% else %}
                            {{funeral.deceased_member}}
                        {% endif %}
                    </td>                                  
                    <td> {{funeral.venue}}</td>
                    <td class="project-actions">
                        <a class="btn btn-info btn-sm" href="">
                            <i class="fas fa-pencil-alt">
                            </i>
                        Attendance Register
                        </a>             
                    </td>
                </tr>   
        {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper 

{% endblock %}
