{% extends 'layout.html' %}
{% load static %}
{% load humanize %} 

{% block content %} 

<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>PML Meetings</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'pmlprofile:profiles' %}">Home</a></li>
            <li class="breadcrumb-item active">Meetings</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">List of All Meetings</h3>

        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
        </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th style="width: 20%">
                        Meeting Type
                    </th>
                    <th style="width: 8%">
                        Date
                    </th>
                    <th style="width: 15%">
                        Host
                    </th>
                    <th style="width: 30%">
                        Venue
                    </th>
                   
                
                    {% comment %} <th style="width: 30%" class="project-actions text-right"> 
                        <a class="btn btn-success btn-sm" href="{% url 'events:meeting_create' %}">
                            <i class="fas fa-plus-circle">
                            </i>
                        <strong> Add Meeting</strong>
                        </a> 
                    </th>                 {% endcomment %}
                </tr>
            </thead>
            <tbody>
                <tr>
            {% for meeting in meetings %}
                    <td>
                        {{ meeting.id}}
                    </td>
                    <td>
                        <a href="{% url 'events:meeting' meeting.id %}">
                            {{meeting.meeting_type}}
                        </a>
                    </td>
                    <td>
                        {{meeting.date}}
                    </td>

                    <td>

                    {% if meeting.host.user.last_name %}
                        {{meeting.host.user.last_name}} {{meeting.host.user.first_name}}  {{meeting.host.middlename}} 
                    {% else %}
                        Executive Committee
                    {% endif %}
                    </td>  
                    
                    
                    <td>
                        {% if meeting.host.address %}
                        {{meeting.host.address}}
                        {% else %}
                        {{meeting.alt_venue}}
                        {% endif %} 
                    </td>
                     <td class="project-actions text-right"> 
                        {% comment %} <a class="btn btn-primary btn-sm" href="{% url 'events:meeting' meeting.id %}">
                            <i class="fas fa-folder">
                            </i>
                            View Details
                        </a> {% endcomment %}
                        <a class="btn btn-info btn-sm" href="{% url 'events:meeting' meeting.id %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                        Attendance Register
                        </a> 
                    
                            
                    </td>
                </tr>   
        {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
