{% extends 'layout.html' %}

{% block title %} | Attendance Register{% endblock title %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
    <div class="col-sm-6">
    <h1>Events Attendance  {{meeting}}</h1> 
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'events:meetings' %}">Meetings </a></li>
        <li class="breadcrumb-item active">Attendance</li>
    </ol>
    </div>
</div>
</div><!-- /.container-fluid -->
</section>

<!-- Attendance register data table -->
<section class="content">
<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Choose format for printing or column display</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>                    
                        <th>Event</th>
                        <th>Member</th>
                        <th>Is Present</th>
                        <th>Absence Reaason</th>
                        
                    </tr>
                    </thead>

                <tbody>
                {% for attendance in meeting.attendances.all %} 

                {% if attendance.is_present  %}
                    <tr>
                        <td>{{attendance.meeting}}</td>
                        <td>{{attendance.member.user.last_name}} {{attendance.member.user.first_name}} {{attendance.member.middlename}}</td>
                        <td>{{attendance.is_present}}</td>
                        <td>{{attendance.absence_reason}}</td>
                    </tr>
                {% else %}
                    <tr class="text-danger">
                        <td>{{attendance.meeting}}</td>
                        <td>{{attendance.member.user.last_name}} {{attendance.member.user.first_name}} {{attendance.member.middlename}}</td>
                        <td>{{attendance.is_present}}</td>
                        <td>{{attendance.absence_reason}}</td>
                    </tr>    

                {% endif %}

                    
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Event</th>
                        <th>Member</th>
                        <th>Is Present</th>
                        <th>Absence Reaason</th>
                    </tr>
                </tfoot>
                </table>
            </div>
        </div>
    </div>  
                
</div>
</div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}

